egs/**/database/
egs/**/experiments/
__pycache__/
*.pyc
*~
.idea/
/**/core
docs/build/
*.lab
.nfs*

*.prof

\.mailmap

headers\.py

tools/bin/

tools/festival/

tools/festvox/

tools/speech_tools/

tools/wcad/
